# أساسيات تشغيل Odoo
babel
pytz
passlib
python-dateutil
requests
Werkzeug
lxml[html_clean]
markupsafe
psycopg2-binary
wheel

# PDF والصور وQR
Pillow
qrcode
reportlab
PyPDF2

# Excel والتقارير
openpyxl
xlrd
XlsxWriter

# الترجمة وتحويل الأرقام لكلمات
polib
num2words

# التعامل مع USB و XML / SOAP
pyusb
zeep

# مراقبة النظام
psutil
